@font-face{
	font-family: Millik;
	src: url(../fonts/Millik-Regular.otf);
}
@font-face{
	font-family: Moderat;
	src: url(../fonts/Moderat-Regular.woff);
}
@font-face{
	font-family: Moderat-Light;
	src: url(../fonts/Moderat-Light.woff);
}
body {
	margin-left: 0px;
	margin-right: 0px;
	overflow-x: hidden;
}
.big-div{
	margin-left: 8px;
}
span {
	color: #fb9129;
}
.green-span{
	color: #35a162;
}
.blue-span{
	color: #6672c7;
}
.pink-span{
	color: #eb7da7;
}
h1 {
	font-size: 100px;
	line-height: 108px;
	text-align: left;
	font-family: Millik;
	font-weight: 100;
	margin-bottom: 33.5px;
	}
h2 {
	font-family: Millik;
	font-size: 5rem;
	display: inline;
	font-weight: lighter;
	letter-spacing: -3px;
}
h3{
	font-family: Moderat;
	font-weight: 600;
	font-size: 1.5rem;
}
h4{
	font-family: Millik;
	font-size: 3.1rem;
	font-weight: lighter;
	line-height: 5.4rem;
	margin: 0rem;
}
section{
	padding: 168px 85px;
}
footer{
	padding: 0px 85px;
}
.commerce-tools{
	background-color: #f8fafd;
}
.cards{
	text-align: center;
	background-color: #1d1d1d;
	color: white;
}
.above-footer{
	background-color: #1d1d1d;
	color: white;
	padding: 5rem 11rem 6rem;
	border-radius: 1.5rem;
	box-shadow: 0 10px 60px rgb(0 0 0 / 20%);
}
.above-footer p {
	margin-top: 1rem;
	margin-bottom: 6.3rem;
	font-size: 1.35rem;
	width: 90%;
}
.developer-api{
	background-color: #f8fafd;
}
p {
	font-size: 1.25rem;
	font-weight: 300;
	line-height: 32px;
	font-family: Moderat-Light;
	margin-bottom: 2rem;
	margin-top: 2rem;
}
.million{
	font-size: 1.4rem;
	line-height: 3.2rem;
	font-weight: bolder;
	margin-left: 7rem;
	margin-top: 8rem;
	margin-bottom: 0.8rem;
}
b{
	font-weight: bolder;
}
a {
	text-decoration: none;
	font-size: 1rem;
	font-family: Moderat-Light;
	font-weight: bold;
}
.commerce-links{
	font-size: 0.9rem;
	padding: 1rem 1.5rem;
	background-color: #0a0e27;
	color: white;
	border-radius: 10px;
	line-height: 2rem;
}
.okay-link{
	font-size: 1rem;
	background-color: #0a0e27;
	color: white;
	border-radius: 10px;
	line-height: 2rem;
	padding: 1.78rem 2rem;
	margin-top: 2rem 0rem;
}
.d_button {
	background-color: white;
	color: #262c55;
	position: relative;
	padding: 15px 20px;
	display: inline;
	border: none;
	font-size: inherit;
	font-family: Moderat-Light;
	font-weight: bold;		
	cursor: pointer;
}
.d_d {
	padding: px;
	display: inline-block;
}

.d_menu {
	display: none;
	position: absolute;
	width: 100;
	height: 100;
	text-align: left;
	font-size: 15;
	border-radius: 15px;
	z-index: 1;
	box-shadow: 0 10px 40px rgb(0 0 0 / 20%);
}
.d_links {
	background-color: white;
	color: #262c55;
	padding: 20px 7px;
	text-decoration: none;
	border-radius: 15px;
	display: block;
	font-family: Moderat;
	font-weight: 500;
	cursor: pointer;
	font-size: 0.9rem;
}
.d-menu-icons{
	float: left;
	cursor: pointer;
}
.n_links {
	background-color: white;
	color: #262c55;
	position: relative;
	padding: 0px 20px;
	text-decoration: none;
	display: inline;
	height: 45px;
	font-family: Moderat-Light;
	font-weight: bold;
	cursor: pointer;
	transition: color 0.5s;
}
.signin {
	display: inline;
	padding: 15px 50px;
	text-decoration: none;
	background-color: #eee;
	border-radius: 10px;
	color: #262c55;
	height: 45px;
	font-family: Moderat;
	font-weight: 500;
}
.famasi	{
	display: inline;
	object-fit: cover;
	object-position: 50% 50%;
	margin-bottom: 270px;
	margin-top: -270px;
}
.foot-city{
	object-fit: cover;
	object-position: 100% 100%;
}
.buttons-div {
	display: inline-block;
	width: 90%;
	text-align: center;
	margin: 5.8px 47px 0px 69px;

}
.buttons {
	display: inline-block;
	position: relative;
	text-align: center;
	padding: 0px 90px;

}
.flutterimage {
	position: relative;
	top: 17px;
}
.text {
	background-color: white;
	display: block;
	padding: 20px 30px;
	height: 100%;
}
.text-alone {
	display: inline-block;
	position: relative;
	margin-left: 47.5px;
	margin-top: 1px;
}
.f-acct {
	text-decoration: none;
	background-color: #0a0e27;
	border-radius: 10px;
	color: #ffffff;
	font-size: 1rem;
	padding: 21px 24px;
	font-family: Moderat;
	margin-right: 20px;
}
.ctact {
	text-decoration: none;
	background-color: #eee ;
	border-radius: 10px;
	color: black;
	font-size: 16px;
	/* line-height: 19px; */
	height: 61px;
	padding: 21px 24px;
	font-family: Moderat;
	display: relative;
}
.low-button {
	display: block;
	/* position: ; */
	margin-top: 40px;
	margin-bottom: 75px;
}
.foot-city-container {
	display: inline;
	margin: 0px 0px 0px -89px;
}
 .famasi-container { 
	margin-right: 0px;
	margin-left: 61px;
	 display: inline;
}
.under-famasi{
	float: right;
	width: 30%;
	margin-right: 120px;
	/* margin-bottom: 200px; */
	margin-top: -200px;
}
svg{
	padding: 15px;
}
.greater-than-icon{
	fill: #fb9129;
	padding: 0px;
	position: relative;
	top: 0.2rem;
	left: 0rem;
	transform: rotate(270deg);
	transition: left 0.2s;
} 
.orange-links :hover .greater-than-icon{left: 0.5rem;}
.company-icons{
	margin: 1rem 1rem;
	height: 3rem;
	padding: 0px;
}
figcaption{
	display: inline-block;
}
.checkout-div{
	display: inline-block;
	width: 29.5%;
	text-align: left;
}
.our-strengths{
	font-size: 5rem;
	line-height: 7rem;
	margin-bottom: 4.6rem;
	margin-top: 15rem;
}
table{
	font-family: Moderat;
	font-size: 1.125rem;
	color: #1d1d1d;
	margin-bottom: 3rem;
}
ul{
	margin-bottom: 6rem;
}
th{
	text-align: left;
	padding-bottom: 0.5rem;
	font-weight: 550;
}
td{
	width: 15%;
	padding: 0.66rem 1px;
}
.table-links{
	color: #1d1d1d;
	font-weight: lighter;
	transition: color 0.5s;
}
.table-links:hover{color: #00abab;}
.footer-super-div{
	text-align: right;
	padding: 2rem 0rem;
	border-top: 1px solid rgb(243, 243, 243);
	/* border-bottom: 1px solid #1d1d1d; */
}
.footer-link-div{
	display: inline-block;
}
.footer-link-div a{
	margin-left: 1.5rem;
}
.trusted-companies{
	text-align: center;
}
.d_links strong {
	color: #262c55;
	transition: color 0.5s;
}
.signin:hover {color: white; background-color: #262c55; transition: 300ms;}
.d_links:hover strong {color: #00abab;}
.n_links:hover {color: #00abab;}
.d_d:hover .d_menu {display: block;}
